<p>disciplina works! e Reka Muto!!</p>


<p>You can do filter table data, in this case with observables and our <code>NgbHighlight</code> component used in Typeahead</p>

<form>
  <div class="form-group form-inline">
      Full text search: <input class="form-control ml-2" type="text" [formControl]="filter"/>
  </div>
</form>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Country</th>
    <th scope="col">Area</th>
    <th scope="col">Population</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let country of countries$ | async; index as i">
    <th scope="row">{{ i + 1 }}</th>
    <td>
      <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag" class="mr-2" style="width: 20px">
      <ngb-highlight [result]="country.name" [term]="filter.value"></ngb-highlight>
    </td>
    <td><ngb-highlight [result]="country.area | number" [term]="filter.value"></ngb-highlight></td>
    <td><ngb-highlight [result]="country.population | number" [term]="filter.value"></ngb-highlight></td>
  </tr>
  </tbody>
</table>

<!-- <tr *ngFor="let reka of Discipline">
            
    <td>{{ reka.nomeDisciplina }}</td> -->
    <form [formGroup]="contactFormDiscipline" (ngSubmit)="submitDue()">
<select formControlName="disciplina" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">

  <option [ngValue]="null" selected>Open this select menu</option>
  <!-- <option value="1">One</option> -->
  <!-- <option *ngFor="let disciplina of Discipline" value="1">{{ disciplina.nomeDisciplina }}</option> -->
  <option *ngFor="let disciplina of Discipline" [ngValue]="disciplina.nomeDisciplina">{{disciplina.nomeDisciplina}}</option>

</select>

<button type="submit">Submit</button>

</form>

<ng-template #elseTemplate>
  <div>
      Selected: {{selectedValue}}
  </div>
</ng-template>

<div class="row">
  <div *ngFor="let disciplina of listaEventi" class="col-sm-6">
    <div  class="card">
      <div class="card-body">
        <h5 class="card-title">{{disciplina.categoria}}</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>

